<p id="notice"><%= notice %></p>
<% @users.each do |user| %>
    <% if user.role == "p" %>
  <ul>
    <li><%= link_to "#{user.first_name} #{user.last_name}", user %></li>
    <li><%= user.email %></li>
  </ul>
  <% end %>
<% end %>

