input.button{
  margin-right: 15px;
}


ul.right li {
  background-color: #fff;
}

form#user_search.user_search {
  background-color: #fff;
}

nav.top-bar {
  height: 50px;
  border-bottom: 2px solid #E2E2E2;
}

input.button {
  background-color: #6E7278;
}

 li.name h1 a:hover {
  background-color: #fff;
} 

 header .top-bar-section ul li a:hover {
  background-color: #fff;
}  